img {
	/*border: 10px solid gray; */
	/*opacity: 1	;*/
	transition: 1s;
	opacity: 0;
	/*mejorar disposicion de imagenes*/
	object-fit: cover; 
	width: 100%;
	
	/*Efecto cargado*/

	/*position:relative;
	left:-40%;*/
	
	/*efecto rotacion*/
	transform: rotate(360deg);

}

img.b-loaded {
	opacity: 1;

	/*efecto cargado*/
	/*left: 0;*/

	/*efecto rotacion*/
	transform: rotate(0deg);
	
}

figcaption {
	font-size: 18px;
	font-family: Arial;
	background: whiSte;
	padding: 15px 10px;
	border-bottom: 5px solid lightgray;
}

figure {
	/*efecto cargado*/
	overflow:hidden;


	background-image: url(../images/gears.gif);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 700px;
	margin: 0 auto;
}